{% extends "layout.html" %}
{% block title %}
  Dashboard
{% endblock %}


{% block body %}
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Welcome {{ dat[1] }}</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-l">Here are the clips you created.</p>
    </div>
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      {% if data %}
      <div class="table-responsive">
        <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
            <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">Name</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Clip Id</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Created at</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Editable?</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">Unlisted?</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800"></th>
            <th class="w-10 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tr rounded-br"></th>
            </tr>
        </thead>
        <tbody>
          {% for d in data %}
                <tr>
                <td class="px-4 py-3">{{ d["clip_name"] }}</td>
                <td class="px-4 py-3">{{ d["clip_url"] }}</td>
                <td class="px-4 py-3">{{ d["clip_time"] }} UTC</td>
                <td class="px-4 py-3">{{ d["is_editable"] | stat }}</td>
                <td class="px-4 py-3">{{ d["is_unlisted"] | stat }}</td>
                <td class="px-4 py-3"><a class="text-white border-2 py-2 px-4 focus:outline-none roundedtext-lg" href="/{{ d["clip_url"] }}">Go</a></td>
                <td class="px-4 py-3"><a class="text-white border-2 py-2 px-4 focus:outline-none roundedtext-lg" href="/delete/{{ d["clip_url"] }}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
      {% else %}
        <div class="flex flex-col text-center w-full mb-12">
          <h1 class="sm:text-l text-l font-medium title-font mb-4 text-white">Nothing Here... <a href="/" class="underline decoration-dotted">Start Creating?</a></h1>
        </div>
      {% endif %}
  </div>
  </div>
</section>
{% endblock %}