{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex min-h-screen flex-col items-center justify-center px-5 py-24">
            
            <div class=" max-w-2xl text-center mb-12">
                <h1 class="title-font font-medium text-3xl text-white">Dive right into the simplest way of sharing code.</h1>
            </div>

            <div class=" max-w-xs bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col">
                <h2 class="text-white text-lg font-medium title-font mb-5 text-center">Register</h2>
                {% if error %}
                    <p class="text-s mb-4 text-red-500 text-center">{{ error }}</p>
                {% endif %}
                <form action="/register" method="post">
                    <div class="relative mb-4">
                        <label for="uname" class="leading-7 text-sm text-gray-400">Username<sup>*</sup></label>
                        <input type="text" id="uname" name="uname" class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                    </div>
                    <div class="relative mb-4">
                        <label for="passwd" class="leading-7 text-sm text-gray-400">Password<sup>*</sup></label>
                        <input type="password" id="passwd" name="passwd" class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                    </div>
                    <div class="relative mb-4">
                        <label for="passwdconf" class="leading-7 text-sm text-gray-400">Confirm Password<sup>*</sup></label>
                        <input type="password" id="passwdconf" name="passwdconf" class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border border-gray-600 focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
                    </div>
                    <button class="w-full text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Register</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}